.statistics-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: -50%;
  gap: 5px;
}

.statistic {
  border-radius: 7px;
  text-align: center;
  background-color: brown;
  padding: 15px;
}
